.form {
    background: linear-gradient(90deg, rgba(52,52,52,1) 0%, rgba(79,79,79,1) 50%, rgba(52,52,52,1) 100%);
    background-color: #575757;
    max-width: 250px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}