.form__button {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: auto;
    border: none;
    cursor: pointer;
    text-align: center;
}

.form__button:hover {
    opacity: .9;
}
.form__button:active {
    /*border: 1px solid  rgba(252, 252, 252, .5);*/
    transform: translate(.5px, .5px);
}
